nav button.bg-gray {
    background-color: #0A5771 !important;
    border-color:  #0A5771 !important;
}

nav.navbar-bootswatch {
    background-color: #0A5771 !important;
}

li > a {
    color: #d68410 !important;
}

a.dropdown-toggle {
    color: #fff !important;
}

span.eventname {
    color: #d68410 !important;
}