#page-wrapper #page-footer {
  background-color: #1094ab !important;
}

a {
  color: #003785 !important;
}

.logininfo a {
  color: #ffffff !important;
}

.homelink a {
  color: #ffffff !important;
}

.fixed-top i {
  color: #ffffff !important;
}

.navbar a {
  color: #ffffff !important;
}

<<<<<<< HEAD
i.fa {
  color: white !important;
=======
.submit-form {
  visibility: hidden;
}

#form-fieldset1 {
  width: 100%;
}
#form-fieldset2 {
  width: 100%;
>>>>>>> e4710027edeb3cde16c10c94acd451b2b81f8fca
}
